<div class="dashboard-container">
  <div class="dashboard-item" >
    <app-goals>
    </app-goals>
  </div>
  <div class="dashboard-item">
    <app-profile>
    </app-profile>
  </div>
  <div class="dashboard-item">
    <app-history>
    </app-history>
  </div>
  <div class="dashboard-item">
    <app-inventory>
    </app-inventory>
  </div>
  <div class="dashboard-item">
    <app-meals>
    </app-meals>
  </div>
  <div class="dashboard-item">
    <app-recipes>
    </app-recipes>
  </div>


</div>


