<div class="meals-container">
  <h2>Meals</h2>
  <div class="content">
    <div class="add-meal">
      <h3>Add Meal</h3>
      <ul>
        <li>Zutaten</li>
        <li>Etc.</li>
      </ul>
    </div>
    <div class="today-list">
      <h3>Heutige Liste</h3>
      <div class="meal-item">
        <span>Gericht 1</span>
        <span>Cals</span>
      </div>
      <div class="meal-item">
        <span>Gericht 2</span>
        <span>Cals</span>
      </div>
      <div class="meal-item">
        <span>Gericht 3</span>
        <span>Cals</span>
      </div>
    </div>
  </div>
</div>
