<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Ihr Profil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Ihr Benutzername" [(ngModel)]="username" name="username">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ihre Email" [(ngModel)]="email" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" placeholder="Ihr Passwort" [(ngModel)]="password" name="password">
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button color="primary" (click)="updateProfile()">Aktualisieren</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
