.calendar {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.navigation-buttons {
  text-align: center;
}

.dropdown-container {
  position: absolute;
  right: 0;
}

.chart-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.weekdays {
  display: flex;
  justify-content: space-between;
}

.weekday {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: #333;
}

.chart {
  margin-top: 20px;
  position: relative;
}

.view-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; /* Platz nach unten hinzufügen */
}

.current-date {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #666;
}

button {
  margin: 5px;
}

mat-form-field {
  width: 200px;
}

/* Neue CSS-Regeln für die Dropdown-Schriftfarbe */
.mat-select-value-text, .mat-option-text {
  color: #1976d2; /* Dieselbe Farbe wie die Buttons */
}

.mat-select-placeholder {
  color: #1976d2 !important; /* Optionale Farbe für den Platzhalter */
}
