<div class="container">
  <div class="left-panel">
    <h2>Daten</h2>
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput [(ngModel)]="profile.userName" name="userName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label> age</mat-label>
      <input matInput [(ngModel)]="profile.age" name="age">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>weight</mat-label>
      <input matInput [(ngModel)]="profile.weight" name="weight">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>gender</mat-label>
      <mat-select [(ngModel)]="profile.gender">
        <mat-option [value]="1" >male</mat-option>
        <mat-option [value]="2" >Female</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="updateProfile()">Update</button>
  </div>


</div>
