.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background-gradient);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.login-button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

mat-card-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary-color);
}
