<div class="history-container">
  <mat-card>
    <mat-card-content>
      <h2>History</h2>
      <div class="history-grid">
        <div class="day">M</div>
        <div class="day">D</div>
        <div class="day">M</div>
        <div class="day">D</div>
        <div class="day">F</div>
        <div class="day">S</div>
        <div class="day">S</div>
      </div>
      <div class="details-grid">
        <div class="details">Cals</div>
        <div class="details">Meals</div>
        <div class="details">Etc</div>
      </div>
      <div class="stats">
        <button mat-raised-button color="primary">Average cals</button>
        <button mat-raised-button color="accent">Progress fürs Ziel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
