:host {
  --primary-color: #6200ea; /* Indigo */
  --accent-color: #03dac5;  /* Teal */
  --background-gradient: linear-gradient(270deg, #ffffff, #f0f0f0);
  --card-background: linear-gradient(270deg, #ffffff, #e0e0e0);
  --text-color: #000000;
  --text-muted-color: #555555;
  --border-color: #e0e0e0;
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Erhöhtes Lückenmaß für größere Skala */
  padding: 30px; /* Erhöhtes Polster für größere Skala */
  animation: gradient-background 10s ease infinite;
  background: var(--background-gradient);
  background-size: 400% 400%;
  border-radius: 15px;
}

.summary-card, .entries-card {
  background: var(--card-background);
  color: var(--text-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 30px; /* Erhöhtes Polster für größere Skala */
  transform: scale(1.1); /* Skalierung der Karten */
}

.summary-card:hover, .entries-card:hover {
  transform: translateY(-5px) scale(1.15); /* Erhöhtes Skalierungsmaß beim Schweben */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.summary-card h1 {
  font-size: 3rem; /* Standardgröße für die Kalorienanzeige */
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

.entries-card mat-card-title {
  font-size: 3rem; /* Größerer Text für den Titel */
  text-align: center;
  color: var(--text-color);
}

.entries-card .entry-details {
  display: flex;
  justify-content: space-between;
  padding: 15px 0; /* Erhöhtes Polster für Einträge */
  border-bottom: 1px solid var(--border-color);
}

.entries-card .entry-details:last-child {
  border-bottom: none;
}

.entry-name {
  font-weight: bold;
  color: var(--text-color);
}

.entry-calories {
  color: var(--text-muted-color);
}
